{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2020": true,
        "jest": true
    },
    // prettier is first so airbnb-base rules can conflict sometime with prettier reason
    // then this disable those prettier rules below.
    // Here we are giving more priority to airbnb rules
    "extends": ["prettier", "airbnb-base"],
    "parserOptions": {
        "ecmaVersion": 11
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "indent": ["error", 4],
        "comma-dangle": ["error", "never"],
        "arrow-parens": "off",
        "consistent-return": "off",
        "quotes": ["error", "double"],
        "lines-between-class-members": "off",
        "import/extensions": "off",
        "implicit-arrow-linebreak": "off",
        "operator-linebreak": "off"
    }
}
